/* styling of the bottom-left empty area */
.drawer__inner__mastodon>img {
    width: auto;
    -webkit-mask-image:-webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* better responsive UI on medium to wide screens*/
@media (min-width: 1000px) {
    .layout-multiple-columns .column {
        flex: 0 1 600px;
    }
    .layout-multiple-columns .columns-area {
        justify-content: center;
    }
}
